body {
    text-align: center;
}

#symbol {
    font-size: 2em;
}

.board {
    margin: auto;
    width: 350px;
}

    .board button {
        height: 100px;
        width: 100px;
        margin: 0px;
        padding: 0px;
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
        font-size: 3em;
    }

.menu {
    margin: auto;
    width: 350px;
}

    .menu button {
        height: 30px;
        width: 110px;
        margin: 5px;
        padding: 5px;
        float: initial;
        margin-right: 5px;
        margin-bottom: 5px;
        font-size: 1em;
    }

.div
.status {
    font-size: 1.9em;
    color: darkred
}
